<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KakaoRestAPIKey</key>
	<string>KakaoAK 7d3d59fea4ff35b208fe57318951b26d</string>
	<key>ChargingAPIKey</key>
	<string>3fN5XeyWbFOVDNr8xbmPsTXRwyTgskEJ6ghj0LFf131CQm3X52Rn%2BCMEwcttKysIzwU%2B45HuKQ4vXWX%2BC8LJ%2BQ%3D%3D</string>
	<key>WeatherAPIKey</key>
	<string>f35dba38a89189360cc4a88070669327</string>
</dict>
</plist>
